<div class="c-Modal-wrap" *ngIf="visible" #modal cpOverLayModal [component]="modal"  [visible]="visible">
  <div id="modalChange" class="c-Modal-container" role="dialog">
    <div class="c-Modal-container--inner u-w-md">

      <div class="c-Modal-body">
        <div class="c-Modal-header">
          <h3 class="c-Modal-title">パスワード変更</h3>
        </div>

        <p>パスワードを変更する場合、当ウィンドウ下部へパスワードを入力の上、
          <br>「変更」ボタンを押してください。</p>
        <div class="c-Message--error u-my-md">
          <h4 class="c-Message__title">注意事項</h4>
          <ul class="c-Message__list">
            <li>パスワードの長さは 10 文字以上です。</li>
            <li>パスワードに使用可能な文字は、半角英小文字、半角英大文字、数字、記号です。</li>
            <li>パスワードに使用可能な文字のうち、4種類を混合して使用して下さい。</li>
            <li>過去4回以内に利用されたパスワードは登録できません。</li>
            <li>ユーザーIDを含むパスワードは登録できません。</li>
          </ul>
        </div>

        <div class="c-Message__form" #passwordForm="customValidation" cpValidate [rules]="passwordRules">
          <dl class="c-List__dl-cell" style="text-align: left;">
            <dt class="c-List__dl-cell--item">現在のパスワード<span class="c-Label--req u-ml-sm">必須</span></dt>
            <dd class="c-List__dl-cell--item">
              <input type="password" autocomplete="off" class="c-Form__input" placeholder="現在のご利用のパスワード"
                [(ngModel)]="passWordFrom.currentPassword" name="currentPassword" cpValid value=""></dd>
            <dt class="c-List__dl-cell--item">新しいパスワード<span class="c-Label--req u-ml-sm">必須</span></dt>
            <dd class="c-List__dl-cell--item">
              <input type="password" autocomplete="off" class="c-Form__input" placeholder="新しいパスワード" [(ngModel)]="passWordFrom.newPassword"
                name="newPassword" cpValid value="" oncopy="return false;" onpaste="return false;"
                oncut="return false;"></dd>
            <dt class="c-List__dl-cell--item">新しいパスワード(確認)<span class="c-Label--req u-ml-sm">必須</span></dt>
            <dd class="c-List__dl-cell--item">
              <input type="password" autocomplete="off" class="c-Form__input" placeholder="新しいパスワード(再入力)"
                [(ngModel)]="passWordFrom.confirmPassword" name="confirmPassword" cpValid value=""
                oncopy="return false;" onpaste="return false;" oncut="return false;">
            </dd>
          </dl>
        </div>

        <div class="u-text-center u-mt-md">
          <cpButton type="button" class="btn-margin" btnClass="c-Btn__primary c-Btn-lg" titleName="変更する" (click)="change()"
            [ngClass]="{'btn-disabled': !isValidForm()}" [disabled]="!isValidForm()"></cpButton>
          <cpButton type="button" btnClass="c-Btn__default c-Btn-lg marginL" titleName="キャンセル" (click)="changeCancel()">
          </cpButton>
        </div>

      </div>

      <cpButton btnClass="c-Modal_close_btn" titleName="×" (click)="closeModal()" aria-label="閉じる"></cpButton>
    </div>
  </div>
  <div class="c-Modal-overlay" (click)="closeModal()" [ngStyle]="{'display': visible && 'block'}"></div>
</div>
