.c-Modal-wrap {
  display: flex;
}

.u-text-center > cpButton {
  margin: 0 0.12rem;
}

.tooltipContainer {
  position: relative;
}

.btn-margin >>> button {
  margin-bottom: 0.5rem;
}

.c-Form__input {
  width: 100%;
}
